<section class='intro new'>
  <div class="col-sm-8 col-sm-offset-2 well">
  <h2>Become a member to a Practice Group:</h2>
    <%= form_for @group do |f| %>
      <%= f.label "All Practice Groups" %> </br>
          <%= f.collection_select :practice_id, @practices, :id, :title, include_blank: true %>
        <%= f.submit "Add Practice", class:"btn close pull-right" %>

    <% end %>
  </div>
</section>