<section id='splash'class='intro'>
  <div id='welcome' class="container content">
    <div class="row">
      
      <div class="col-sm-6">
      
      </div>

      <div id='splash_content' class="col-sm-6">
        <h1>Legaldex</h1>
        IT LOOKS AMAZING!!!
        <h3>Organizing experts.</h3>
        <!-- TODO change to link to sign up page -->
        <%= button_to "Sign Up", new_user_path, class:"btn btn-default", method: :get %>
        <p class="btn">Join the community and make an account</p>
      </div>
    </div>
  </div> 
</section> 

<section>
  <div class="container">
  <h2>Higest rated experts in your area:</h2>
    <div class="row ">  
    
    </div> 
  </div> 
</section> 

<section>
  <div class="container">
  <h2>Higest rated experts in your practice:</h2>
    <div class="row ">  
    
    </div> 
  </div> 
</section>  
