<section class='intro'>
  <div class="col-sm-8 col-sm-offset-2 well">
  <h2>Add a Practice:</h2>
    <%= form_for @practice do |f| %>

        <%= f.text_field :title, class:"form-control", placeholder:"title of group" %> 
        <%= f.submit "Add Practice", class:"btn close pull-right" %>

    <% end %>
  </div>
</section>