//companyies new
section {
	clear:both;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: absolute;
	background-attachment: fixed;
}

.new {
	margin-top: -1%;
	margin-left: 1.5%;
	background-image: url("group.jpg");
}