<section class="intro">
  <% @lawcases.each do |lawcase|%>
    <div>
      <h2>
        <%= link_to "#{lawcase.title}", lawcase_path(lawcase.id)%>  
      </h2>
      
    </div>
  <%end%>
  
</section>